body{
    font-family: 'Roboto',sans-serif;
    background-color: #e2d7aa;
    color: #000000;
    font-size: 16px;
    width: 1180px;
    margin: 0 auto;
    /* can giua container */

}


/* header */
img{
    width: 1100px;
    height: 450px;
    object-fit: cover;
    
}
.img-container{
    width: 100%; /*1600px đang bị tràn viền, tràn khối */
    height: 450px;
    margin-top: 65px;
   /* margin-bottom: 45px; */
    text-align: center;
    object-fit: cover;
}
h1{
    font-size: 60px;
    text-align: center;
    margin-top: 65px;
    font-family: 'Indie Flower', cursive;
}


/* nav */
nav{
    margin:30px;
    text-align: center;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 20px;
}
nav li:nth-child(1), nav li:nth-child(7){
    font-weight: bold;
    color: #0a2d4a;
}


/* main */
main {
    display: flex;
    gap: 30px;
    text-align: center;
    margin-top: 20px;
}
h2, h3{
    margin: 0;
}
article p {
    text-align: justify;
    line-height: 1.4;
}
a{
    font-size: 28px;
    color: #000000;
    text-decoration: none; /*bỏ dấu gạch chân dưới hypelink */
}
article > h3 > a{
    color: blue;
}
article p:nth-of-type(1)::first-letter {
    font-size: 40px;
    font-weight: bold;
    font-family: 'EucrosiaUPC', sans-serif;
}
span > a{
    background: url(images/bg2.jpg);
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
}
article > img{
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
    object-fit: cover;
    margin: 0;
}
article p:last-of-type span:first-of-type a::before{
content: url("images/comment.png");
position: relative;
right: 5px;
top: 7px;
padding: 10px;
margin-top: 20px;
}


/* footer */
footer{
    margin: 0px;
    padding: 10px 0 10px 0;
    text-align: center;
}

