*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*giúp các phần tử được kiểm soát trong padding, margin */
}
body{
    font-family: 'Roboto',sans-serif;
    background-color: #e2d7aa;
    color: #000000;
    font-size: 16px;
    width: 1180px;
    margin: 0 auto; /* căn giữa container */
}
img{
    width: 1100px;
    height: 450px;
}
.img-container{
    width: 1600px;
    height: 450px;
    margin-top: 45px;
    margin-bottom: 45px;
}
h1{
    font-size: 60px;
    text-align: center;
    margin-top: 65px;
    font-family: 'Indie Flower', cursive;
}
nav{
    margin:30px;
    text-align: center;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 20px;
}
nav li:nth-child(1), li:nth-child(7){
    font-weight: bold;
}
/* main */
main{
    display: flex;
}

a{
    font-size: 28px;
    color: #000000;
    text-decoration: none; /*bỏ dấu gạch chân dưới hypelink */
}
p:nth-child(1){
    font-size: 40px;
    font-family: EucrosiaUPC, sans-serif;;
}
span > a{
    background: url(images/bg2.jpg);
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
}
article > img{
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
}
.comments{
    top: 7px;
    padding: 10px;
    right: 5px;
    position: relative; /* */
    content: url("images/comment.png");
}
/* footer */
footer{
    margin: 0px;
    padding: 10px 0 10px 0;
    text-align: center;
}

